header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
header.a{
    background-color: rgb(255, 255, 255);
}
.headerAcima{
    
    padding: 20px;
    height: 20%;
    margin: 0;
    background-image: url("Imagens/2.jpg");
    background-position-y: 70%;
    background-size: cover;
    height: 350px;
}

body.a{
    background-image: url(Imagens/2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
body.b{
    background-color: rgb(6, 6, 5);
}

div {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
}
div.a{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
    color: white;
    
}

div.quadrado {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    opacity: 0,5;
}
div.quadradoClaro {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    opacity: 0,5;
}

h2.a{
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
h1.a{
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
h1.a1{
    font-family:'Times New Roman', Times, serif;
    color: rgb(13, 13, 13);
    text-align: center;
    font-weight: bold;
}
p.a{
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

.imagem1 {
    border-radius: 15px;
    transition: all 0.5s;
    cursor: pointer;
}
.imagem1:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

table.principal {
    border: 1;
    width: 100%;
}

td.a{
    text-align: center;
}

fieldset{
    border: 11px solid hsl(276, 100%, 56%);
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}

#submit{
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #27b18c 5%, #000000 100%);
    background-color:#768d87;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    &:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
    }
}

&:active {
    position:relative;
    top:1px;
}