header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
header.a{
    background-color: rgb(0, 0, 148);
}
.headerAcima{
    
    padding: 20px;
    height: 20%;
    margin: 0;
    background-image: url("Imagens/2.jpg");
    background-position-y: 70%;
    background-size: cover;
    height: 350px;
}

body.a{
    background-image: url(Imagens/2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
body.b{
    background-color: rgb(6, 6, 5);
}

div {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
div.a{
    margin-top: -70px;
    text-align: center;
}
div.quadrado {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    opacity: 0,5;
  }

h2.a{
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
h1.a{
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
p.a{
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    color: white;
}

.imagem1 {
    border-radius: 15px;
    transition: all 0.5s;
    cursor: pointer;
}
.imagem1:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

table.principal {
    border: 1;
    width: 100%;
}

td.a{
    text-align: center;
}