header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
header.a{
    background-color: rgb(0, 0, 148);
}
.headerAcima{
    
    background-color: rgb(0, 4, 246);
    padding: 20px;
    height: 20%;
    margin: 0;
    background-image: url("Imagens/1.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
}

body{
    background-image: linear-gradient(to top, rgb(26, 160, 172),rgb(3, 53, 110), rgb(26, 160, 172));
    background-size:cover;
  }
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div {
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
div.a{
    margin-top: -70px;
    text-align: center;
}
div.quadrado {
    background-color: azure;
    border-radius: 15px;
  }

h2.a{
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
}
h1.a{
    font-family:'Times New Roman', Times, serif;
}

.imagem1 {
    border-radius: 15px;
    transition: all 0.5s;
    cursor: pointer;
}
.imagem1:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}